:root {
  --pink: #fbb5e9;
  --yellow: #fcebb5;
  --green: #aaffd5;
  --white: #ffffff;
  --black: #111217;

  --ease-out-expo: cubic-bezier(0.21, 1, 0.21, 1);
}

html {
  font-size: calc(100vw / 3000 * 10);
  overflow: hidden;
}
@media screen and (max-width: 768px) {
  html {
    font-size: calc(100vw / 768 * 10);
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
  font-family: "General Sans", sans-serif;
  font-weight: 400;
  -webkit-tap-highlight-color: transparent;
}

body {
  font-size: 1rem;
  user-select: none;
  -webkit-user-drag: none;
  padding: 0 6.5rem;
  --bg: var(--green);
  background: var(--bg);
  transition: background 1s var(--ease-out-expo);
}
main {
  display: grid;
  place-content: center;
  min-height: 100vh;
}

::-webkit-scrollbar {
  display: none !important;
}
p {
  font-size: 3.2rem;
  margin: 0 auto;
  width: 26rem;
}
h2 {
  font-size: 10rem;
  width: 50rem;
  width: 50rem;
  margin: 4vh auto 2.5vh;
  font-weight: 600;
}
div p {
  width: 20rem;
  position: absolute;
  left: calc(50% - 10rem);
  font-size: 4rem;
  opacity: 0;
  transition: all 1s var(--ease-out-expo);
}
p.center {
  opacity: 1;
  transform: translateX(0);
}
p.right {
  transform: translateX(75%);
  opacity: 0;
}
p.left {
  transform: translateX(-75%);
  opacity: 0;
}
#rive {
  width: 60rem;
  margin: -3rem auto;
}

form {
  display: grid;
  width: 60rem;
  margin: 0 auto;
  gap: 2vh;
  position: relative;
}
.line {
  background: linear-gradient(
    transparent 0%,
    transparent 47.75%,
    var(--black) 47.75%,
    var(--black) 51.25%,
    transparent 51.25%,
    transparent 100%
  );
  padding: unset;
  height: 10rem;
  width: 50rem;
  left: 5rem;
  position: absolute;
  /* pointer-events: none; */
  cursor: pointer;
  border: unset;
  outline: unset;
}

input,
.slider {
  accent-color: var(--black);
  appearance: none;
  -webkit-appearance: none;
  background: transparent;
}
input::-webkit-slider-thumb,
.slider {
  appearance: none;
  -webkit-appearance: none;
  background: radial-gradient(
    var(--black) 0%,
    var(--black) 1rem,
    transparent 1rem
  );
  width: 10rem;
  height: 10rem;
  border: 1rem solid var(--white);
  border-radius: 3rem;
}
.slider {
  transform: translateX(50rem);
}

button {
  background: var(--black);
  color: var(--white);
  height: 12rem;
  display: grid;
  place-content: center;
  font-size: 3.4rem;
  font-weight: 300;
  border-radius: 3rem;
  border: unset;
  outline: unset;
  cursor: pointer;
}
button:hover {
  filter: contrast(0.95);
}

@media screen and (min-width: 767px) {
  main {
    border: 2rem solid var(--white);
    width: 85rem;
    margin: 5vh auto 5vh;
    min-height: min(167.5rem, 90vh);
    border-radius: 10rem;
    box-shadow: -5rem 5rem 20px 0px #00000011;
  }
}
